.page-content {
    padding: 1.5rem 2rem;
    position:relative;
}

.bg-transparent {
    background:transparent;
}

.no-border {
    border:none;
}

.card > .tab-control {
    margin: 1rem;
}

.overlay {
    position:absolute;
    z-index:1;
    width:100%;
    height:100%;
    background: #000;
    opacity:.5;
    top: 0;
    left: 0;
}

.fade-in-out {
    transition-duration: 200ms;
    transition-property: visibility, opacity;
    transition-delay: 100ms;

    &.hidden {
        visibility: hidden;
        opacity:0;
    }
}

.item > .children {
    margin-left: .5em;
}