.fancy-checkbox-label {
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 0px;
  height: 100%; }
  .fancy-checkbox-label > input[type=checkbox] {
    position: absolute;
    opacity: 0;
    cursor: inherit; }
  .fancy-checkbox-label img {
    width: 100%; }
  .fancy-checkbox-label .fancy-checkbox:before {
    font-family: FontAwesome;
    content: "\f00c";
    background: #fff;
    color: transparent;
    border: 3px solid #ddd;
    border-radius: 3px;
    z-index: 1; }
  .fancy-checkbox-label .fancy-checkbox-img:before {
    position: absolute;
    margin: 3px;
    line-height: normal; }
  .fancy-checkbox-label .fancy-thumb-icon {
    margin: 0 auto;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center; }
    .fancy-checkbox-label .fancy-thumb-icon i {
      font-size: 70px;
      color: cornflowerblue; }
    .fancy-checkbox-label .fancy-thumb-icon b {
      color: #fff;
      position: absolute; }

.fancy-checkbox-label:hover > .fancy-checkbox:before,
input:focus + .fancy-checkbox:before {
  border-color: #bdbdff; }

.fancy-checkbox-label:hover > input:not(:checked) + .fancy-checkbox:before {
  color: #eee; }

input:checked + .fancy-checkbox:before {
  color: #fff;
  background: #bdbdff;
  border-color: #bdbdff; }

input:checked + .fancy-checkbox-img + img {
  transform: scale(0.9);
  box-shadow: 0 0 5px #bdbdff; }

#FileThumbList > .row {
  margin-right: -30px; }

.card-fileThumb {
  height: calc(100% - 15px); }

.file-info {
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #333;
  overflow: hidden;
  font-size: 13px; }
  .file-info > i {
    font-size: 15px;
    margin-right: 5px;
    color: cornflowerblue; }
