$text-highlight: #3D7AA5;
$text-dark: #5D5E5E;
@import "dbgroupvn/font";
@import "bootstrap/bootstrap";
@import "dbgroupvn/layout";
@import "dbgroupvn/owl-theme";
@import "dbgroupvn/mobile/header";
@import "dbgroupvn/mobile/nav";
@import "dbgroupvn/footer";
@import "dbgroupvn/page-load";
@import "dbgroupvn/quy-trinh";
@import "dbgroupvn/category-menu";
@import "dbgroupvn/sidebar";
@import "dbgroupvn/map-marker";
//Variables
html {
    font-size: 13px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 13px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 14px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 14px;
    }
}

@include media-breakpoint-up(xl) {
    html {
        font-size: 15px;
    }
}

html,
body,
#root {
    min-height: 100%;
    overflow-y: auto!important;
}

#root {
    overflow-x: hidden;
}

.language-select {
    border-right: 2px solid #8A8A8A;
    color: #8A8A8A;
}

.btn-search {
    color: #5D5E5E;
    outline: none;
    &:focus {
        box-shadow: none;
    }
}

.menu-container {
    height: calc(100% - 35px);
    .menu {
        .menu-item {
            font-size: 1.1rem;
            &:not(:last-child) {
                margin-right: 1.8rem;
            }
            a {
                color: #5D5E5E;
                &.current {
                    font-weight: bold;
                    color: $text-highlight;
                }
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}

.section-title {
    display: inline-block;
    padding: 0 1rem;
    position: relative;
    margin-bottom: 1.5rem;
    .title {
        background: #fff;
    }
    &:before {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        top: 50%;
        background: #000;
    }
}

.title {
    text-transform: uppercase;
    font-size: 2.3rem;
    display: inline-block;
    position: relative;
    padding: 0 1.5rem;
}

.cong-trinh {
    .link {
        position: absolute;
        font-weight: bold;
        a {
            color: #fff;
        }
        &:after {
            content: "";
            width: 70px;
            height: 2px;
            background: #fff;
            position: absolute;
            bottom: -1.5rem;
            left: 1.5rem;
        }
    }
    .link-khach-san {
        left: 50%;
        top: 10%;
    }
    .link-can-ho {
        right: 50%;
        top: 30%;
        text-align: right;
        &:after {
            right: 1.5rem;
            left: inherit;
        }
    }
    .link-nha-o {
        left: 5%;
        top: 5%;
        a {
            color: #000;
        }
        &:after {
            background: #000;
        }
    }
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-white {
    color: white;
    text-transform: uppercase;
    font-size: 1rem;
    border: 2px solid;
    padding: .3rem 1rem;
    display: block;
}

.page-item {
    $title-bg: #e2e2e2;
    margin-bottom: $grid-gutter-width-base;
    .page-item-thumbnail {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        * {
            transition: All 0.215s ease-in-out;
            -webkit-transition: All 0.215s ease-in-out;
            -moz-transition: All 0.215s ease-in-out;
            -o-transition: All 0.215s ease-in-out;
        }
        .overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            background: black;
            opacity: 0;
        }
        a {
            @extend .btn-white;
            position: absolute;
            display: none;
        }
        &:hover {
            .overlay {
                opacity: .8;
            }
            a {
                display: block;
            }
        }
    }
    .page-item-title {
        background: $title-bg;
        font-size: 1.6rem;
        font-weight: bold;
        padding: 2rem 1rem;
        position: relative;
        $tri-h: 20px;
        $tri-w: 35px;
        a {
            color: #272727;
        }
        &:before {
            content: "";
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 $tri-w/2 $tri-h $tri-w/2;
            border-color: transparent transparent $title-bg transparent;
            position: absolute;
            top: -$tri-h + 1px;
        }
    }
}

.project-load-more {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .overlay {
        background: #408eba;
        opacity: .85;
    }
    .content {
        text-align: right;
        position: relative;
        .cant-find {
            line-height: 2rem;
            text-transform: uppercase;
        }
        .cant-find,
        a {
            color: #fff;
        }
        a {
            @extend .btn-white;
            border-width: 1px;
            padding: .5rem;
            width: 100%;
            text-align: center;
        }
        .dots {
            .dot {
                float: right;
                height: 5px;
                width: 5px;
                margin-left: 5px;
                background: #c1c1c1;
            }
        }
    }
}

.swipeable {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
    display: none;
}

//set z thành 2 để không bị ảnh hưởng bởi swipeable
.owl-carousel {
    z-index: 2;
}

.breadcrumbs {
    text-transform: uppercase;
    font-size: 1.1rem;
    padding: 1rem;
    span {
        line-height: 2rem;
        padding: {
            right: .2rem
        }
         :after {
            content: "\f105 ";
            margin: 0 .5rem;
            font-family: FontAwesome;
        }
        &:last-child {
             :after {
                content: none
            }
        }
    }
    a {
        color: #9A9999;
    }
    @include media-breakpoint-up(lg) {
        border: 1px solid #a2a2a2;
    }
}

.page-titles {
    font-size: 1.5rem;
    text-transform: uppercase;
    .page-title {
        &:first-child {
            margin-right: 1rem;
        }
        &:last-child {
            margin-left: 1rem;
            color: $text-highlight;
            font-weight: bold;
        }
    }
}

.g-map {
    min-height: 300px;
    display: grid;
    .gmnoprint {
        opacity: 0;
    }
}

.big-g-map {
    height: 70%
}

.map_icon_text_red {
    background: url(../img/marker.png)
}

.pager {
    text-align: right;
    .page-item {
        margin-right: .5rem;
        color: #fff;
        cursor: pointer;
        &.active {
            font-weight: bold;
        }
    }
    .page-link.active:hover {
        color: #fff;
    }
    .disabled {
        display: none;
    }
}