<!DOCTYPE html>

<html>
<head>
    @Html.Partial("Layout-Parts/head")
</head>
<body>
    <header class="app-header navbar">
        <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">☰</button>
        <a class="navbar-brand" href="#"></a>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-link">
                @await Component.InvokeAsync("CoreIn_Modules_App/LanguageSwitchList")
            </li>
        </ul>
    </header>
    <div id="app">
        @RenderBody()
    </div>

    <script type="text/javascript" src="~/js/vendor.admin.js"></script>
    <script type="text/javascript" src="~/js/corein.js"></script>
    @Html.RenderJavaScripts()
    @Html.ReactInitJavaScript()
</body>
</html>