<!DOCTYPE html>
<html>
<head>
    @Html.Partial("Layout-Parts/head")
</head>
<body class="app header-fixed sidebar-fixed">
    @await Component.InvokeAsync("CoreIn_Modules_App/Appbar")
    <div class="app-body">
        <aside class="sidebar">
            <nav class="sidebar-nav open">
                @await Component.InvokeAsync("CoreIn_Modules_App/NavigationMenu", new { args = new {menu_Class = "nav" } })
            </nav>
        </aside>
        <main class="main">
            @await Component.InvokeAsync("CoreIn_Modules_App/Breadcrumb")
            <div class="page container-fluid">
                <div class="animated fadeIn aside-menu-fixed">
                    @RenderBody()
                </div>
            </div>
            <footer class="site-footer">
                <div class="mr-auto">
                    <p class="text-primary mb-0">
                        Made By <a href="#">Kenkz447</a>
                    </p>
                </div>
            </footer>
        </main>
    </div>

    <script type="text/javascript" src="~/js/vendor.js"></script>
    <script type="text/javascript" src="~/js/corein.js"></script>

    @Html.RenderJavaScripts()
    @Html.ReactInitJavaScript()
</body>
</html>
