.f-no-select {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.m-tree {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  .m-tree .m-draggable {
    position: absolute;
    opacity: 0.8;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
  .m-tree .m-node.placeholder {
    border: 1px dashed #ccc;
    margin-bottom: 5px; }
    .m-tree .m-node.placeholder > * {
      visibility: hidden; }
  .m-tree .m-node .inner {
    position: relative;
    cursor: pointer;
    padding-bottom: 5px; }
    .m-tree .m-node .inner .node {
      padding-left: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 1px solid lightgray; }
      .m-tree .m-node .inner .node input[type=checkbox] {
        display: none; }
      .m-tree .m-node .inner .node input[type=checkbox] + span {
        margin-left: 18px; }
      .m-tree .m-node .inner .node input[type=checkbox]:checked {
        margin-right: 5px;
        display: initial; }
      .m-tree .m-node .inner .node input[type=checkbox]:checked + span {
        margin-left: 0; }
      .m-tree .m-node .inner .node:hover input[type=checkbox] {
        margin-right: 5px;
        display: initial; }
      .m-tree .m-node .inner .node:hover input[type=checkbox] + span {
        margin-left: 0; }
      .m-tree .m-node .inner .node.active {
        background: aliceblue; }
  .m-tree .m-node .collapse {
    position: absolute;
    left: 0;
    cursor: pointer; }
  .m-tree .m-node .caret-right:before {
    content: '\25B8'; }
  .m-tree .m-node .caret-down:before {
    content: '\25BE'; }
