@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DbGroup</title>
    <link rel="stylesheet" type="text/css" href="~/css/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/css/aos.css" />

    <link rel="stylesheet" type="text/css" href="~/css/dbgroupvn.css" />
</head>
<body >
    <div id="root">
    </div>

    <script src="~/js/aos.js"></script>
        @*<environment names="Development">*@
            <script src="~/js/dbgroupvn.vendor.js"></script>
            <script src="~/js/dbgroupvn.js"></script>
        @*</environment>*@
        @*<environment names="Production">
            <script src="~/js/dbgroupvn.vendor.min.js"></script>
            <script src="~/js/dbgroupvn.min.js"></script>
        </environment>
        *@
    </body>
    </html>