@{ 
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DbGroup</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/css/dbgroupvn.css")" />
</head>
<body>
    <div id="root">
    </div>

    <script src="~/js/vendor.js"></script>
    <script src="@Url.Content("~/js/dbgroupvn.js")"></script>
</body>
</html>